body{
    background: rgb(51, 50, 50);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background:black;
    padding:20px;
} 
section.feature-box{
    background:white;
    color:gray;
    padding: 20px;
    display:flex;
    flex-direction: row;
}
.feature-box div{
    width: 100px;
    margin:auto;
}
section.feature-box.sales div{
    background:blue;
}
section.feature-box.closeouts div{
    background:red;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display:inline-block;
    margin-right: 20px;
}
footer{
    background: black;                
    padding: 10px 20px;
}